# dependencies
node_modules

# next
.next
.next-*
out

# production
build

# env
.env*
!.env.example

# misc
*.log
.DS_Store
reports/lighthouse/**/server.pid
reports/lighthouse/**/*.json
reports/isr-state.json
.sanity/

.vercel
.env*
!.env.example
